--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: historico_irrigacao; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.historico_irrigacao (
    id integer NOT NULL,
    planta_id integer,
    quantidade_agua real NOT NULL,
    modo boolean NOT NULL,
    data_hora timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.historico_irrigacao OWNER TO admin;

--
-- Name: historico_irrigacao_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.historico_irrigacao_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historico_irrigacao_id_seq OWNER TO admin;

--
-- Name: historico_irrigacao_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.historico_irrigacao_id_seq OWNED BY public.historico_irrigacao.id;


--
-- Name: plantas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.plantas (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(50) NOT NULL,
    umidade_ideal real NOT NULL,
    agua_por_dia real NOT NULL,
    intervalo_irrigacao_horas integer NOT NULL,
    sensor_id integer,
    observacoes text
);


ALTER TABLE public.plantas OWNER TO admin;

--
-- Name: plantas_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.plantas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plantas_id_seq OWNER TO admin;

--
-- Name: plantas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.plantas_id_seq OWNED BY public.plantas.id;


--
-- Name: sensor_umidade; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sensor_umidade (
    id integer NOT NULL,
    sensor_id integer,
    valor_umidade real NOT NULL,
    data_hora timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sensor_umidade OWNER TO admin;

--
-- Name: sensor_umidade_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sensor_umidade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sensor_umidade_id_seq OWNER TO admin;

--
-- Name: sensor_umidade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sensor_umidade_id_seq OWNED BY public.sensor_umidade.id;


--
-- Name: sensores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sensores (
    id integer NOT NULL,
    nome character varying(100),
    descricao text
);


ALTER TABLE public.sensores OWNER TO admin;

--
-- Name: sensores_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sensores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sensores_id_seq OWNER TO admin;

--
-- Name: sensores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sensores_id_seq OWNED BY public.sensores.id;


--
-- Name: status_bomba; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.status_bomba (
    id integer NOT NULL,
    status boolean NOT NULL,
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.status_bomba OWNER TO admin;

--
-- Name: status_bomba_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.status_bomba_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.status_bomba_id_seq OWNER TO admin;

--
-- Name: status_bomba_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.status_bomba_id_seq OWNED BY public.status_bomba.id;


--
-- Name: historico_irrigacao id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.historico_irrigacao ALTER COLUMN id SET DEFAULT nextval('public.historico_irrigacao_id_seq'::regclass);


--
-- Name: plantas id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.plantas ALTER COLUMN id SET DEFAULT nextval('public.plantas_id_seq'::regclass);


--
-- Name: sensor_umidade id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_umidade ALTER COLUMN id SET DEFAULT nextval('public.sensor_umidade_id_seq'::regclass);


--
-- Name: sensores id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensores ALTER COLUMN id SET DEFAULT nextval('public.sensores_id_seq'::regclass);


--
-- Name: status_bomba id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.status_bomba ALTER COLUMN id SET DEFAULT nextval('public.status_bomba_id_seq'::regclass);


--
-- Data for Name: historico_irrigacao; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.historico_irrigacao (id, planta_id, quantidade_agua, modo, data_hora) FROM stdin;
14	1	0.2	f	2025-07-22 16:56:21.744
\.


--
-- Data for Name: plantas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.plantas (id, nome, tipo, umidade_ideal, agua_por_dia, intervalo_irrigacao_horas, sensor_id, observacoes) FROM stdin;
1	Samambaia	Folhagem	0.65	0.2	12	\N	\N
3	Rucula	Hortali├ºa	55	1.5	12	\N	Teste atualizar
4	Tomateiro	Frut├¡fera	60	2	10	\N	Planta de tomate, teste de cadastro
17	Manjeiric├úo	Erva arom├ítica	70	1	12	2	Evitar encharcamento; prefere solos bem drenados.
\.


--
-- Data for Name: sensor_umidade; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sensor_umidade (id, sensor_id, valor_umidade, data_hora) FROM stdin;
\.


--
-- Data for Name: sensores; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sensores (id, nome, descricao) FROM stdin;
2	Sensor1	Sensor utilizado para umidade
3	Sensor Umidade	sensor veririca umidade da planta
4	Sensor Alpha	Sensor de umidade de solo para jardins externos, precis├úo de ┬▒3%.
\.


--
-- Data for Name: status_bomba; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.status_bomba (id, status, atualizado_em) FROM stdin;
1	t	2025-07-19 17:14:05.838
2	f	2025-07-22 15:23:55.975
3	t	2025-07-22 15:23:57.046
4	f	2025-07-22 15:23:58.405
5	t	2025-07-22 15:23:59.186
6	f	2025-07-22 16:56:20.605
7	t	2025-07-22 16:56:21.695
\.


--
-- Name: historico_irrigacao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.historico_irrigacao_id_seq', 14, true);


--
-- Name: plantas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.plantas_id_seq', 17, true);


--
-- Name: sensor_umidade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sensor_umidade_id_seq', 1, true);


--
-- Name: sensores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sensores_id_seq', 4, true);


--
-- Name: status_bomba_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.status_bomba_id_seq', 7, true);


--
-- Name: historico_irrigacao historico_irrigacao_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.historico_irrigacao
    ADD CONSTRAINT historico_irrigacao_pkey PRIMARY KEY (id);


--
-- Name: plantas plantas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT plantas_pkey PRIMARY KEY (id);


--
-- Name: sensor_umidade sensor_umidade_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_umidade
    ADD CONSTRAINT sensor_umidade_pkey PRIMARY KEY (id);


--
-- Name: sensores sensores_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensores
    ADD CONSTRAINT sensores_pkey PRIMARY KEY (id);


--
-- Name: status_bomba status_bomba_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.status_bomba
    ADD CONSTRAINT status_bomba_pkey PRIMARY KEY (id);


--
-- Name: historico_irrigacao fk_irrigacao_planta; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.historico_irrigacao
    ADD CONSTRAINT fk_irrigacao_planta FOREIGN KEY (planta_id) REFERENCES public.plantas(id) ON DELETE SET NULL;


--
-- Name: plantas fk_planta_sensor; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT fk_planta_sensor FOREIGN KEY (sensor_id) REFERENCES public.sensores(id) ON DELETE SET NULL;


--
-- Name: sensor_umidade fk_sensor_umidade_sensor; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_umidade
    ADD CONSTRAINT fk_sensor_umidade_sensor FOREIGN KEY (sensor_id) REFERENCES public.sensores(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

